<navbar></navbar>
<columns>
  <column class="wide-60">
    <div class="black center">
      Here will be the cart items
    </div>
  </column>
</columns>

<!--
<navbar></navbar>
<columns> <-- TODO MAKE THIS A GRID OF ITEMS INSTEAD... or MAKE A TOGGLE --

<column class="wide-60">
  <div class="black">
    <div class="main-container">
      <ng-container *ngIf="izdelki.length > 0; else emptyBlock">
        <h1 class="header">Products</h1>
        <div *ngFor="let izdelek of izdelki">
          <item [izdelek]="izdelek" class="center"></item>
        </div>
      </ng-container>
      <ng-template #emptyBlock>
        <div class="empty-block header">
          <h1>Your cart is empty!</h1>
        </div>
      </ng-template>
    </div>
  </div>
</column>
</columns>
 -->
