<navbar></navbar>
<columns>
  <column class="wide-60">
    <div class="container black center">
      <div class="card">
        <div class="card-header">
          <h2 class="white">Create Item</h2>
        </div>
        <div class="card-body">
          <form class="settings">
            <label for="name">Name</label>
            <input type="text" name="name" [(ngModel)]="this.name" (ngModelChange)="this.validateInputFields()">
            <label for="price">Price</label>
            <input type="number" name="price" [(ngModel)]="this.price" (ngModelChange)="this.validateInputFields()">
            <label for="description">Description</label>
            <input type="text" name="description" [(ngModel)]="this.description"
              (ngModelChange)="this.validateInputFields()">

            <label for="category">Category</label>
            <select name="category" [(ngModel)]="this.category" (ngModelChange)="this.validateInputFields()">
              <option *ngFor="let cat of this.categories" [ngValue]="cat">
                {{ cat.description }}
              </option>
            </select>

            <input type="submit" value="Submit" [disabled]="!this.isInputValid" [title]="
              !this.isInputValid ? 'Invalid fields!' : ''
            " (click)="this.submitForm()" />
          </form>
        </div>
      </div>
    </div>
  </column>
</columns>
