<navbar></navbar>
<columns>
  <column class="wide-60">
    <div class="main-container">
      <ng-container *ngIf="izdelki.length > 0; else emptyBlock">
        <h1 class="header">Cart</h1>
        <div *ngFor="let izdelek of izdelki">
          <item [izdelek]="izdelek" class="izdelki"></item>
        </div>
      </ng-container>
      <ng-template #emptyBlock>
        <div class="empty-block">
          <h1>There are no products</h1>
        </div>
      </ng-template>
    </div>
  </column>
</columns>
