<navbar></navbar>
<columns>
  <column class="wide-60 center">
    <div class="card">
      <div class="card-header">
        <h3>
          Login
        </h3>
      </div>
      <div class="card-body">
        <form class="login-form">
          <label for="username">Username</label>
          <input type="text" class="" id="username" placeholder="Enter username" />
          <!-- <label for="password">Password</label>
          <input type="password" class="" id="password" placeholder="Password" /> -->
          <input type="submit" class="" value="Submit" />
        </form>
        <div class="black link-container">
          Don't have an account? <a href="" [routerLink]="'/create-item'">Register here</a>
        </div>
      </div>
    </div>
  </column>
</columns>
