<h2 mat-dialog-title>Edit product - {{product.name}}</h2>
<form class="edit-form">
  <label for="name">Name</label>
  <input type="text" name="name" [(ngModel)]="product.name" (ngModelChange)="this.validateInputFields()">
  <label for="description">Description</label>
  <input type="text" name="description" [(ngModel)]="product.description" (ngModelChange)="this.validateInputFields()">

  <label for="category">Category</label>
  <select name="category" [(ngModel)]="product.category" (ngModelChange)="this.validateInputFields()">
    <option disabled value="" [selected]="true">Select category</option>
    <option *ngFor="let cat of this.categories" [ngValue]="cat">
      {{ cat.name }}
    </option>
  </select>

  <mat-divider></mat-divider>

  <h2 mat-dialog-title>Stores</h2>
  <mat-list>
    <mat-list-item *ngFor="let store of this.stores">
      <div class="store-item">
        {{store.store.name}}
        <div>
          <label for="price_{{store.store.name}}">Price </label>
          <input type="number" name="price_{{store.id}}" [(ngModel)]="store.price"
            (ngModelChange)="this.validateInputFields()">
        </div>
      </div>
      <mat-icon (click)="this.removeStore(store)">delete</mat-icon>
      <!-- <mat-divider></mat-divider> -->
    </mat-list-item>
    <div>
      <input class="store-inp" type="text" name="store-name" [(ngModel)]="this.storeName" placeholder="Store Name"
        (ngModelChange)="this.areStoreFieldsValidFun()" />
      <input class="store-inp" type="number" name="price-name" placeholder="0" [(ngModel)]="this.storePrice"
        (ngModelChange)="this.areStoreFieldsValidFun()" />
    </div>
    <input type="submit" value="Add store" (click)="this.addStore()" [disabled]="!this.areStoreFieldsValid" />
  </mat-list>
  <input type="submit" value="Submit" [disabled]="!this.isInputValid" [title]="
              !this.isInputValid ? 'Invalid fields!' : ''
            " (click)="this.submitForm()" />
</form>
