<h2 mat-dialog-title>Edit product - {{product.name}}</h2>
<form class="settings">
  <label for="name">Name</label>
  <input type="text" name="name" [(ngModel)]="product.name" (ngModelChange)="this.validateInputFields()">
  <label for="description">Description</label>
  <input type="text" name="description" [(ngModel)]="product.description" (ngModelChange)="this.validateInputFields()">

  <label for="category">Category</label>
  <select name="category" [(ngModel)]="product.category" (ngModelChange)="this.validateInputFields()">
    <option *ngFor="let cat of this.categories" [ngValue]="cat"
      [selected]="cat.name == product.category?.name! ? true : null">
      {{ cat.description }}
    </option>
  </select>

  <input type="submit" value="Submit" [disabled]="!this.isInputValid" [title]="
              !this.isInputValid ? 'Invalid fields!' : ''
            " (click)="this.submitForm()" />
</form>

<div>
  <mat-list>
    <mat-list-item *ngFor="let store of this.stores">
      {{store.name}}
      {{store.price}}
    </mat-list-item>
  </mat-list>
</div>
