<navbar></navbar>
<columns>
  <column class="wide-60">
    <div class="black">
      <div class="main-container">
        <ng-container *ngIf="izdelki.length > 0; else emptyBlock">

          <h1 class="header">Products</h1>
          <mat-list #products>
            <mat-list-item (click)="openProductModal(izdelek)" class="list-item" *ngFor="let izdelek of izdelki">
              <div class="item-container center">
                <div>

                  {{izdelek.name}}
                  <div class="description-text">
                    {{izdelek.description}}
                  </div>
                </div>
                <div>
                  <button (click)="openEditModal(izdelek)" mat-icon-button
                    aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button (click)="deleteProduct(izdelek)" mat-icon-button
                    aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>

              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-list>

          <div class="black catFact">
            <h1 class="center">Random joke of the day:</h1>
            <div class="center joke">
              {{this.joke?.joke}}
            </div>
          </div>
        </ng-container>
        <ng-template #emptyBlock>
          <div class="empty-block header">
            <h1>There are no products!</h1>
            <div class="black catFact">
              <h1 class="center">Random joke of the day:</h1>
              <div class="center joke">
                {{this.joke?.joke}}
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </column>
</columns>
