/* You can add global styles to this file, and also import other style files */

/* Normalize CSS */
@import "~normalize.css";

/* Noto Sans from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&display=swap");

/* Colour variables */
@import "./assets/styles/colors.scss";

* {
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body {
    background-color: var(--body-background);
    color: var(--body-foreground);
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
}

.wide-60 {
  @media (min-width: 43rem) {
    flex-basis: 60%;
  }
}

.header {
  text-align: center;
}
