/* You can add global styles to this file, and also import other style files */

/* Normalize CSS */
@import "~normalize.css";

/* Noto Sans from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&display=swap");

/* Colour variables */
@import "./assets/styles/colors.scss";

* {
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body {
    background-color: var(--body-background);
    color: var(--body-foreground);
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
}

.wide-60 {
  @media (min-width: 43rem) {
    flex-basis: 60%;
  }
}

.header {
  text-align: center;
}

.white {
  color: white;
}

.black {
  color: black;
}


.center{
  display: flex;
  justify-content: center;
  align-items: center;
  }

.card {
  width: 50%;
  // height: 100%;
  border-radius: 10px;
  background: #DFD8ED;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.card-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: #8372A1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  min-height: 2rem;
  // height: 100%;
  // margin-top: 10px;
  // margin-bottom: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  // background-color: purple;
  padding: 10px;
  // border-bottom-left-radius: 10px;
  // border-bottom-right-radius: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  // margin-bottom: 10px;
}

.card-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  // background-color: green;
  // padding: 10px;
  // height: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  // margin-bottom: 10px;
}
