:root {
  /* Purples */
  --purple-dark: #851bf6;
  --purple-light: #7f57e5;

  /* Pinks */
  --pink-dark: #fd2eb2;
  --pink-light: #fd6281;

  /* Blues */
  --blue: #4698f0;
  --blue-light: #29b6ff;

  /* Greens */
  --green-darker: #005f73;
  --green-dark: #0a9396;
  --green-light: #6bffdc;
  --green-lighter: #94d2bd;

  /* Others */
  --orange: #fe9c5c;
  --black: #0d0d0d;
  --yellow: #ffed46;
  --red: #ff4646;
  --lime: #21dc5f;

  /* Body background and text color */
  // --body-background: #edecd8;
  --body-background: #e1eaf0;
  --body-foreground: #ffffff;
}
